<h1>Welcome!</h1>
<p><%= @user %></p>

<%= link_to "Create a new question", new_user_question_path(:user_id => current_user.id) %>



<%= link_to "Log Out", destroy_user_session_path, method: :delete %>